{% extends "auctions/layout.html" %}
{% block body %}
    <h2>Active Listings</h2> 
    <div class="row">
        {% for listing in listings %}
        <div class="column item">
            <a href="{% url 'listing' listing.id %}">
                <h4>{{listing.name}} in Category {{listing.category}}</h3>
                <h4>Starting Bid: ${{listing.price}}</h4>
                <img src="{{ listing.image.url }}" alt="Listing Image" style="width: 300px; height: 300px;">
                <br>
                <br>
                <p>Description: {{listing.description}}</p>
            </a>
        </div>
        {% endfor %}
    </div>  
    

{% endblock %}