{% extends "auctions/layout.html" %}
{% block body %}
    <h2>Create A Listing</h2>
    
    {% if img_obj %}
    <div class="item">
        <h3>Succesfully Uploaded {{img_obj.name}} in Category {{img_obj.category}}</h3>
        <h4>Starting Bid: ${{img_obj.price}}</h4>
        <img src="{{ img_obj.image.url }}" alt="connect" style="max-height:300px">
        

        <p>Description: {{img_obj.description}}</p>
    </div>
    {% else %}
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
           
            {{ form.as_p }}         
            <button type="submit">Upload</button>
        </form>
    </div>  
    {% endif %}
{% endblock %}